<ion-view class="body about" style="background-color: #FFFFFF;">
    <ion-header-bar class="bar-light text-center">
        <a class="take-back" on-touch="back()"><i class="icon fa fa-angle-left"></i></a>
        <h1 class="title"><span>关于</span></h1>
    </ion-header-bar>
    <ion-content class="about">
        <div class="padding text-center version-content">
            <img class="logo" ng-src="{{logoImg}}">
            <p class="text-center version-title">减负云药店</p>
            <p class="text-center version-text">版本 V{{version}}</p>
        </div>
        <div class="drug-argument">药店云软件许可协议</div>
        <div class="bar bar-footer drug-footer">
            <div class="company">减负科技有限公司 版权所有</div>
            <div class="title footer-about">Copyright &copy;2016 jia016 un.com All Rights Reserved</div>
        </div>
    </ion-content>
</ion-view>
