<ion-view>
    <ion-content>
        <ion-header-bar align-title="center" class="login-title">
            <a class="take-back" ng-click="back()"><i class="icon fa fa-angle-left"></i></a>
            <h1 class="title">意见反馈</h1>
        </ion-header-bar>
        <div class="content has-header">
            <div class="feedback-menu">您的意见是</div>
            <div class="list padding">
                <label class="item item-input">
                    <textarea rows="10" cols="10"></textarea>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-change-key">提交</button>
            </div>
        </div>
    </ion-content>
</ion-view>


