<ion-view class="body ">
    <ion-header-bar class="bar-light text-center">
        <div class="buttons">
            <button class="button" ng-click="back()"><i class="icon ion-android-arrow-back" ng-click="back()"></i></button>
        </div>
        <h1 class="title">选择采购订单</h1>
    </ion-header-bar>
    <ion-content style="margin-top: 2%">
        <div class=" row list notes-list " style="margin-top: 0" ng-click="selectPurchaseNote()"
             ng-repeat="order in purchaseNotes">
            <div class="col col-10">
                <i class="ion ion-android-document note-item-icon"></i>
            </div>
            <div class="col col-80 ">
                <ul style="margin-left: 5% ;">
                    <li class="note-item" style="width:100%;">订单号：{{order.id}}</li>
                    <li class="note-item" style="width: 30%;">物流单：{{order.bookingNote}}</li>
                    <li class="note-item">商品种类：{{order.productType}}</li>
                </ul>
            </div>
            <div class="col col-10 ">
                <i class="ion ion-ios-arrow-right" style="font-size: 30px;padding-top: 30%"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
