<ion-view class="body">
    <ion-header-bar class="bar-light text-center">
        <div class="buttons">
            <button class="button" ng-click="back()"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title"><span>设置</span></h1>
    </ion-header-bar>

    <ion-content>
        <div class="list card-margin">
            <div class="item item-avatar-left item-borderless">
                <img src="img/avatar.jpg" style="min-width:90px;min-height:90px;">
                <div class="item-content item-body" style="margin-left:20%;padding: 0px;">
                    <h2>{{staff.name}}</h2>
                    <p class="item-text-wrap">{{staff.enterprise.name}}</p>
                </div>
            </div>
        </div>

        <div class="list">
            <a class="item item-icon-left item-icon-right" ng-click="deviceBind()"><i class="icon ion-wrench" style="color:#49A3E1"></i>设备绑定<i class="icon fa fa-angle-right"></i></a>
            <a class="item item-icon-left item-icon-right" ng-click="version()"><i class="icon ion-ios-list-outline" style="color:#D56A74"></i>版本说明<i class="icon fa fa-angle-right"></i></a>
            <a class="item item-icon-left item-icon-right" ng-click="signOff()"><i class="icon ion-android-exit" style="color:#776FAA"></i>注销<i class="icon fa fa-angle-right"></i></a>
        </div>
        <div class="content padding-left padding-right">
            <button class="button button-block form-button" style="color: #FFFFFF;" ng-click="exit()">退出</button>
        </div>
    </ion-content>
</ion-view>
